html {
  font-size: 14px;
}

.App {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader-text-flex {
  position: relative;
  top: 5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon-container {
  margin-top: 2rem;
}

@media only screen and (min-width: 1020px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 380px) {
  html {
    font-size: 12px;
  }
}
