.PlanetCard {
  width: 80vw;
  max-width: 600px;
  margin-bottom: 2rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  margin: .2rem;
}

td,
th {
  width: 50%;
}

.films-container {
  text-align: center;
  margin-bottom: 0.6rem;
}
